.col-md-4.col-md-offset-2
  .row
    .share
      %h4 Share the Love
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="supportbee">Tweet</a>
      <div class="fb-like" data-href="https://singlepagebook.supportbee.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  .row
    #mc_embed_signup
      %h4 Receive updates when a new chapter is added!
      %form#mc-embedded-subscribe-form.validate{:action => "http://supportbee.us2.list-manage1.com/subscribe/post?u=42e6ff571eaf930103b81ce44&id=f8bc1e98e3", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        .indicates-required
        .mc-field-group
          %label{:for => "mce-EMAIL"}
            Email Address
            .col-md-.asterisk *
          %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}/
        #mce-responses.clear
          #mce-error-response.response{:style => "display:none"}
          #mce-success-response.response{:style => "display:none"}
        .clear
          %input#mc-embedded-subscribe.btn.btn-primary{:name => "subscribe", :type => "submit", :value => "Subscribe for Announcements"}/
    %p We will email you only when there is a new chapter. No other updates or spam!


