.share.section
  %h4 Share The Book
  <a data-url="https://singlepagebook.supportbee.com" href="https://twitter.com/share" class="twitter-share-button" data-via="supportbee">Tweet</a>
  <div class="fb-like" data-href="https://singlepagebook.supportbee.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  <div class="g-plusone" data-size="medium" data-href="https://singlepagebook.supportbee.com/"></div>
#mc_embed_signup.section
  %h4 Receive Updates For New Chapters
  %form#mc-embedded-subscribe-form.validate{:action => "http://supportbee.us2.list-manage1.com/subscribe/post?u=42e6ff571eaf930103b81ce44&id=f8bc1e98e3", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :role => 'form', :target => "_blank"}
    .indicates-required
    .mc-field-group.form-group
      %input#mce-EMAIL.required.email{:placeholder => 'Your Email', :name => "EMAIL", :type => "email", :value => ""}/
    #mce-responses.clear
      #mce-error-response.response{:style => "display:none"}
      #mce-success-response.response{:style => "display:none"}
    .clear
      %input#mc-embedded-subscribe.btn.btn-primary{:name => "subscribe", :type => "submit", :value => "Subscribe for Announcements"}/
    %p.disclaimer We will email you only when there is a new chapter. No other updates or spam!




