---
title: About this Book
---
.first_section
  .row
    %h1 Developing Single Page Web Apps with Backbone.js
    %p.subhead For Desktop and Mobile
    %p.by An ebook by Prateek Dayal

  .row
    .explain 
      %p For the last two years, I have been working on building <a href="https://supportbee.com/?singlepage" target="_blank">SupportBee</a>, a relatively complex single page application. Starting with Backbone.js 0.3.1 and a few hundred lines of javascript code, the application has grown to many screens, mobile presence, push updates and tons of coolness and usefulness. 

      %p During this time, I have learnt several patterns (and anti-patterns), written <a href="https://supportbee.com/devblog/2011/07/29/backbone-js-tips-lessons-from-the-trenches/" target="_blank">blog posts</a>, <a href="http://www.youtube.com/watch?v=amYKGX6kpEc" target="_blank">given talks</a>, written <a href="https://github.com/SupportBee/Backbone-Factory" target="_blank">Backbone Factory</a> and generally spent a lot of time thinking, writing and re-writing code. This book is a distillation of that knowledge. I want to show you how to build real world applications using Backbone.js. 

      %p However, unlike many books on backbone.js, this one is based on (and talks of) a real world application used by hundreds of companies and thousands of people. An application that is constantly evolving and getting new features etc. My goal is to evolve the book as the application evolves. 
      
.row
  %h4 About The Author
  %p <a href="http://blog.prateekdayal.net">Prateek Dayal</a> is the CEO and Co-founder of SupportBee. He is a programmer turned CEO and still finding his way in the business world. After work, he is known to be a South East Asia evangelist, in particular evangelizing Vietnam to his friends in Bangalore (and pretty much elsewhere). You can find him on <a href="https://twitter.com/prateekdayal">Twitter</a> posting about startups, beer and places.
