---
title: Developing Single Page Web Apps with Backbone.js
---

%h2 Table of Contents
%ol{:start => 0}
  %li
    %a{:href => 'chapters/preface'} Introduction
  - sitemap.where(:tags.include => "chapter").order_by(:index => :asc).all.each do |chapter|
    %li
      %a{:href => chapter.url}= chapter.metadata[:page]['title']
  %li
    Keep different screens in sync
  %li 
    Pushing Updates from Server in Real Time
  %li
    Mobile view using jQuery Mobile
  %li
    Automated Testing using Jasmine
  %li
    Thoughts on Performance & Memory Management
