---
title: Developing Single Page Web Apps with Backbone.js
---

%h2 Table of Contents
%ol 
  - sitemap.where(:tags.include => "chapter").order_by(:index => :asc).all.each do |chapter|
    %li
      %a{:href => chapter.url}= chapter.metadata[:page]['title']
  %li
    Getting Fancier
    %ol
      %li Keyboard shortcuts
      %li Keeping track of the last listing
      %li Showing Loading prompt and other notifications
  %li 
    Pushing Updates in Real Time
    %ol
      %li Setting up Faye with Rails
      %li Listening to a Channel
      %li A scheme for handling different updates
  %li
    Rendering on Mobile
    %ol
      %li Throwing jQuery Mobile into the mix
      %li Rendering mobile specific views and layouts
      %li Selectively turning off functionality on the mobile
      %li Tips on testing the mobile layout
  %li
    Automated Testing using Jasmine
    %ol
      %li Introduction to Jasmine & Sinon.js
      %li Testing Models
      %li Testing Views
      %li Testing Collections
      %li Helpers for writing tests more easily
  %li
    Closing Remarks
    %ol
      %li Focus on the architecture
      %li Importance of testing
